*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.input-container{
    display: flex;
    justify-content: center;
    width: 1360px;
    height: 50px;
}

#user-input{
    border: none;
    width: 50%;
    background-color: rgb(202, 202, 202);
}

#btn-search{
    border: none;
    width: 10%;
    color: antiquewhite;
    background-color: brown;
}

#main-container{
    display: flex;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 49%, rgba(255,0,0,1) 100%);;
    width: 1360px;
    height: 780px;
    padding: 50px;
}

#image-display{
    display: flex;
    width: 600px;
    height: 100%;
    justify-content: center;
    align-content: center;
}

#sprite{
    width: 100%;
    object-fit: contain;
}

#poke-info{
    width: 100%;
    height: 100%;
}

#poke-name{
    width: 100%;
    height: 10%;
    display: flex;    
    border-radius: 20px;
    overflow: hidden;
}

#number{
    width: 20%;
    background-color: rgb(185, 77, 77);
    border: none;
}

#name{
    width: 100%;    
}

#info-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    padding: 15px;
    gap: 1%;
}

#poke-race{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    display: none;
}

#poke-desc{
    display: flex;
    flex-flow:column nowrap;
    width: 100%;
    height: 60%;
}

.desk-box{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.desk-box-in{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: rgb(170, 170, 170);
    border: 1px solid rgb(180, 180, 180);

}

#poke-trivia{
    display: flex;
    width: 100%;
    height: 28%;
    background-color: rgb(110, 110, 110);
    border: 1px solid rgb(180, 180, 180);
    align-items: center;
    justify-content: center;
    
}