#intro{
    display: flex;
    height: 10vh;
    background-color: var(--color-2);
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

#head-right{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#head-right button{
    width: 50%;
    align-self: flex-end;
}

#search-form{
    display: flex;
}
