*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: large;
    font-weight: unset;
    border: none;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

* :focus{
    outline: none;
}

/* header style */
@media screen {

    header{
        display: flex;
        width: 100vw;
        height: 5vh;
        min-height: 50px;
        background-color: rgb(253, 63, 63);
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        overflow: hidden;
    }

    #generation-select{
        height: 100%;
        border: none;
    }

    #search-box{
        display: flex;
        height: 100%;
        border: none;
    }

    button{
        width: 120px;
        background-color: rgb(179, 29, 29);        
        color: aliceblue;
        cursor: pointer;
    }

    button:active{    
        background-color: rgb(107, 17, 17);
    }
    
}

footer{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    min-height: 50px;
    background-color: rgb(253, 63, 63);
    justify-content: space-around;
}
